*{
  margin: 0;
  color:rgb(228, 228, 228);
  font-family: 'Raleway', sans-sherif;
}

html{
  scroll-behavior: smooth;
  min-height: 10vh;
  min-width: 1vw;
}

h1{
  padding-top: 1vh;
  padding-bottom: 1vh;
}

body {
  background-color: rgb(22, 22, 22);
}
  
#header {
  min-height: 70px;
  background-color: rgb(8, 8, 8);
}

nav{
  display: flex;
  justify-content: right;
  font-size: x-large;
  padding: 2%;
  padding-left: 4%;
  a:link{
    text-decoration: none;
    padding-right:1vw;
  }
}


#home,
#projects,
#contact{
  margin-left: 2vw;
  p{
    margin-left: 2vw;
  }
}

#home,
#contact{
  min-height: 20vh;
}


#home{
  padding-top: 5vh;
  h1{
    font-size: xx-large;
  }
  p{
    font-size: large;
  }
}


#projects{
  min-height: 40vh;
  padding-bottom: 10vh;
  img {
    margin: 0 auto;
    max-height: 20vh;
  }
  p{
    margin: 0;
  }
}

#elements div {
  display: inline-grid;
  grid-auto-rows: auto;
  padding: 3vh;
  h2{
    font-size: large;
    padding-bottom: 1vh;
    padding-top: 0.5vh;
  }
  #links{
    padding-left: 0;
    padding-top: 1vh;
  }
}